src/main/app/authldapex1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap" xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd">


	<spring:beans>
		<ss:authentication-manager alias="authenticationManager">
			<ss:authentication-provider>
				<ss:user-service id="userService">
					<ss:user name="admin" password="admin" authorities="ROLE_ADMIN" />
					<ss:user name="user1" password="work4proj" authorities="ROLE_DEV" />
				</ss:user-service>
			</ss:authentication-provider>
		</ss:authentication-manager>
		<!-- Spring Authentication Manager -->
		<!-- Spring Security LDAP Server bean -->
		<!--  <ss:ldap-server id="LdapServer" url="ldap://ldap.yourorg.com.au:389" /> -->

		<!--  <ss:authentication-manager alias="SpringAuthManager">
			<ss:ldap-authentication-provider server-ref="LdapServer" user-search-filter="(uid={0})" user-search-base="ou=People,dc=YourOrg,dc=com,dc=au"
				group-search-base="ou=Accessgroups,dc=YourOrg,dc=com,dc=au" group-search-filter="(memberUid={0})" group-role-attribute="cn" />
		</ss:authentication-manager>  -->
	</spring:beans>
	<!-- Mule's Spring Security Manager -->
	<mule-ss:security-manager name="muleSecurityManager" doc:name="Spring Security Provider">
		<mule-ss:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
		<!--   <mule-ss:delegate-security-provider name="SpringSecurityProvider" delegate-ref="SpringAuthManager" /> -->
		<!--  <mule-ss:delegate-security-provider name="SpringSecurityProviderUT" delegate-ref="SpringAuthManagerUT" /> -->
	</mule-ss:security-manager>

	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />


	<flow name="OAuthExampleFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP" />
		<mule-ss:http-security-filter realm="mule-realm" securityProviders="memory-provider" />
		<set-payload value="#['HELLO WORLD']" doc:name="Set Payload" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>

</mule>